/* .community-card {
  background-color: #d9d9e4; /* Light gray background */
  border-radius: 1rem;
  padding: 1.5rem;
  width: 280px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  color: #000000; /* Black text color */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
} */

.community-card-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  color: #000000; /* Black text */
}

.community-card-description {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  color: #555555; /* Dark gray text */
  margin: 0;
}

.community-card-button {
  display: inline-block;
  background-color: #fbff1f; /* Yellow button background */
  color: #000000; /* Black text */
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: background-color 0.3s ease;
}

.community-card-button:hover {
  background-color: #ffd600; /* Darker yellow on hover */
}
